@model SorteadorFolgados.ViewModel.SalaViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalaViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeVencedoresMaioresPontos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeVencedoresMaioresPontos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeVencedoresMenoresPontos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeVencedoresMenoresPontos)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
