@model IEnumerable<SorteadorFolgados.ViewModel.SalaViewModel>

@{
    ViewData["Title"] = "Configuração de Salas";
}

<h2>Configuração de Salas</h2>

<p>
    <a asp-action="Create">Criar Nova Sala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeVencedoresMaioresPontos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeVencedoresMenoresPontos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeVencedoresMaioresPontos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeVencedoresMenoresPontos)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.SalaId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.SalaId  })
            </td>
        </tr>
}
    </tbody>
</table>
