@model SorteadorFolgados.ViewModel.SalaViewModel

@{
    ViewData["Title"] = "Delete";
}

<h2 class="mdc-typography--headline4">Deletar Sala</h2>

<h3 class="mdc-typography--subtitle2">Tem certeza que deseja deletar a sala?</h3>
<div>
    <dl class="mdc-typography--body2">
        <dt>
            Sala ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeVencedoresMaioresPontos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeVencedoresMaioresPontos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeVencedoresMenoresPontos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeVencedoresMenoresPontos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <button class="mdc-button mdc-button--raised">Deletar</button><br />
        <a asp-action="Index" class="mdc-button">Voltar para a lista</a>
    </form>
</div>
