@model SorteadorFolgados.ViewModel.SorteioViewModel

@{
    ViewData["Title"] = "Sorteador Folgados";
}

<h2>Sorteio - @Model.Sala.Nome (@Model.DataInicio.ToString())</h2>

<hr />
<partial name="_Sortear" model="new SorteadorFolgados.ViewModel.ParticipanteViewModel()" />

<p>
    <a asp-action="Index">Atualizar Resultados</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Pontos</th>
            <th>Nome</th>
            <th>IP</th>
            <th>Data e Hora</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Participacoes.OrderByDescending(p => p.Pontos))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Participante.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnderecoIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataParticipacao)
                </td>
            </tr>
        }
    </tbody>
</table>
